<div class="row">
	<h1>Agregar usuario</h1>
</div>

<div class="row">
  <div class="large-6 small-centered columns">
	<%= render 'form' %>
</div>
</div>

<div class="row">
	<%= link_to 'Regresar', users_path %>
</div>
