<div class="row">
	<div class="large-12 columns">
		<h1>Agregar usuario</h1>
	</div>
</div>

<div class="row">
  <div class="large-12 columns">
	<%= render 'form' %>
</div>
</div>

<%= link_to 'Back', users_path %>
