    <div id="footer-uc">
      <div class="grid">
        <p class="direccion">
          ICIIS - Centro Interdisciplinario de Estudios Interculturales e Indígenas | Pontificia Universidad Católica de Chile
          <br> Av. Vicuña Mackenna 4860. Instituto de Sociología, 3er piso  <a href="https://maps.google.cl/maps?q=Av.+Vicu%C3%B1a+Mackenna+4860,+Macul,+Santiago&hl=es-419&ie=UTF8&sll=-33.668298,-70.363372&sspn=2.438987,4.721375&hnear=Vicu%C3%B1a+Mackenna+4860,+Macul,+Santiago,+Regi%C3%B3n+Metropolitana&t=m&z=17">(ubicación)</a>  | San Martín 551, 2do piso. Campus Villarrica<br />
          Tel +562 2354 7200 | <%= mail_to 'iciis@uc.cl' %>

        </p>
        <p class="optimizado">
          <a href="http://www.uc.cl/es/politicas-de-privacidad" target="_blank">Políticas de privacidad</a> |
          <a href="http://www.uc.cl/es/mapa-del-sitio?sitemap=1" target="_blank">Mapa del sitio</a>
        </p>
      </div>
    </div>
