    <div id="footer-uc">
      <div class="grid">
        <p class="direccion">
          2014 - Pontificia Universidad Católica de Chile - Avda. Vicuña Mackenna 4860, Macul - Santiago - Chile - 
          <a href="http://www.uc.cl/es/mapas" target="_blank">¿Cómo llegar?</a> - Mesa Central (+56 2) 354 2000<br>
          <a href="http://www.uc.cl/es/politicas-de-privacidad" target="_blank">Políticas de privacidad</a> | 
          <a href="http://www.uc.cl/es/mapa-del-sitio?sitemap=1" target="_blank">Mapa del sitio</a>
        </p>
        <p class="optimizado">
          Optimizado para: Explorer 8.0, Firefox 3.6.17, Safari 4.1, Opera 11.10 ó superiores
        </p>
      </div>
    </div>
