<div class="moduletable inserblue">

<h3>ICIIS</h3>
					
<ul class="menu">
	<li class="item-334 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/quienes-somos">Quiénes somos</a>
	</li>
	<li class="item-351 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/politicas-publicas">Políticas Públicas</a>
	</li>
	<li class="item-356 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/desarrollo-y-medio-ambiente">Desarrollo y Medio Ambiente</a>
	</li>
	<li class="item-361 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/patrimonio-cultural">Patrimonio Cultural</a>
	</li>
	<li class="item-366 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/subjetividades-y-conflictos">Subjetividades y Conflictos</a>
	</li>
	<li class="item-371 parent">
		<a href="http://interculturalindigena.uc.cl/index.php/es/colaboracion-internacional">Colaboración Internacional</a>
	</li>
	<li class="item-375">
		<a href="http://interculturalindigena.uc.cl/index.php/es/formacion-de-investigadores">Formación de Investigadores</a>
	</li>
	<li class="item-375">
		<a href="http://www.iciis.cl">Localizador de proyectos</a>
	</li>

</ul>

</div>