<h1> Proyectos ICIIS PUC </h1>
<div id="nav" class="dropSheet">
	<ul id="markers_list">  
    <% @markers.each do |m| %>
      <%= link_to m.title, m %></br >
    <% end %>
  </ul>
</div>
<div id="map">
	
	<%= gmaps("markers" => {"data" => @json, "options" => {"do_clustering" => true, 
		"randomize" => true }}) %>

</div>

<% content_for :scripts do %>

<script type="text/javascript" charset="utf-8">

  Gmaps.map.callback = function() {
    Gmaps.map.map.setOptions({
    	zoomControl: false,
    	streetViewControl: false,
    	panControl: false,
    });
  };
</script>

<% end %>