<div class="row full-width">

<div class="small-4 columns no_padding">
    <div id="nav" class="dropSheet">
    	<ul id="markers_list">  
      </ul>
    </div>
</div>


<div class="small-8 columns no_padding">

  <div class="map_container_index">
    
    <%= gmaps(
      "map_options" => { :container_class => "map_container_index" },
      "markers" => 
      {"data" => @json, 
        "options" => 
        {"do_clustering" => true, 
        "randomize" => true,
        "list_container" => "markers_list" }
      }) %>

  </div>


  
</div>

</div>

<% content_for :scripts do %>

<script type="text/javascript" charset="utf-8">

  Gmaps.map.callback = function() {
    Gmaps.map.map.setOptions({
      zoomControl: false,
      streetViewControl: false,
      panControl: false,
    });
  };
</script>

<% end %>
