<% projects.each do |p| %>
	<p> <%= p.title %></p>
	<p><b>Investigador responsable: <%= p.researcher.name  if p.researcher %> <b>
	</p>
	<p><%=link_to "Ver detalles", p, 'data-no-turbolink' => true%></p>
<% end %>
