<div class="nested-fields">
  <div class="row">
    <div class="small-5 columns">      
       <%= f.input :id, 
                collection: @researchers, 
                value_method: :id, 
                label_method: :name,
                label: "Nombre investigador" %>
    </div>

    <div class="small-7 columns">
      <%= link_to_remove_association "Eliminar investigador", f, :class=>"tiny alert button" %>
    </div>

  </div>

</div>