// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select
{
	width: auto;
}

.map_container { height: 400px; }
.map_container_index { height: 550px; }

.map_container img{max-width: none;}
.map_container_index img{max-width: none;}

img,
object,
embed {
  max-width: none !important;
  height: auto;
}


h1.infowindow
{
	font-size: 90%;
	width: 200px;
}

.row {
	background-color: #FFF;
	padding: 0 1em 0 1em;
	}

