  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          
    		<%= text_field_tag :search, params[:search], placeholder: "Buscar proyectos" %>
        </div>
        <div class="small-2 columns">
           <button type="submit" class="button postfix">
    			<i class="foundicon-search"></i>
  			</button>
        </div>
  		
      </div>
    </div>
</div>